@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@500;700;800&family=Inter:wght@300;500&display=swap");
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  color: white;
  transition: 0.3s;
  font-family: "Inter Tight";
}

img, svg {
  transition: 0.3s;
}

a:hover, button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.dnone {
  display: none;
}

a {
  text-decoration: none;
}

body {
  background: #000000;
}

.container {
  width: 1085px;
  margin: 0 auto;
}
@media (max-width: 1150px) {
  .container {
    width: 100%;
    padding: 0px 15px;
  }
}

header .container {
  height: 80px;
  display: flex;
  justify-content: space-between;
}
header .container .navigation {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
header .container .navigation .logo {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
header .container .navigation .logo .img {
  margin: auto 0;
}
header .container .navigation .logo .text {
  margin: auto 0;
  font-weight: 700;
  font-size: 18.2642px;
  line-height: 22px;
}
header .container .navigation .links {
  display: flex;
  justify-content: space-between;
  margin: auto 0;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
header .container .navigation .links a {
  font-family: "Inter";
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #B5B6B6;
}
header .container .buttons {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 12px;
       column-gap: 12px;
}
header .container .buttons .lang {
  display: flex;
  margin: auto 0;
  justify-content: space-between;
  -moz-column-gap: 12px;
       column-gap: 12px;
  font-weight: 700;
  font-size: 16px;
}
header .container .buttons .try_now {
  margin: auto 0;
}
header .container .buttons .try_now button {
  width: 122px;
  height: 43px;
  background: #3763FF;
  border-radius: 65px;
  font-weight: 700;
  font-size: 16px;
}

.light_block_1 {
  width: 100%;
  overflow: hidden;
}
.light_block_1 .light {
  display: flex;
  justify-content: center;
}
.light_block_1 .light .free_image {
  z-index: 2;
}
.light_block_1 .light .el1 {
  top: 322px;
  left: -700px;
  filter: blur(150px);
}
.light_block_1 .light .el2 {
  top: 320px;
  left: 50px;
  filter: blur(150px);
}
.light_block_1 .light .el3 {
  top: 25px;
  left: -300px;
}
.light_block_1 .light .el4 {
  top: 25px;
  left: -1240px;
}
.light_block_1 .light .line {
  top: 340px;
  left: -1005px;
}

.free_image {
  width: 0px;
  height: 0px;
  position: relative;
}

.usp {
  padding-top: 90px;
  padding-bottom: 350px;
  width: 100%;
  overflow: hidden;
}
.usp .container {
  display: flex;
}
.usp .container .images {
  position: relative;
}
.usp .container .usp_text {
  width: 48%;
  position: relative;
  z-index: 2;
}
.usp .container .usp_text .guarant {
  display: flex;
  justify-content: left;
  -moz-column-gap: 14px;
       column-gap: 14px;
}
.usp .container .usp_text .guarant .text {
  font-family: "Inter";
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #B5B6B6;
  margin: auto 0;
}
.usp .container .usp_text h1 {
  font-family: "Inter Tight";
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 53px;
  letter-spacing: -0.02em;
  margin-top: 10px;
}
.usp .container .usp_text h2 {
  margin-top: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 25px;
  color: #B5B6B6;
  width: 60%;
}
.usp .container .usp_text .try_free {
  width: 309px;
  height: 57px;
  background: #D9E44F;
  border-radius: 65px;
  font-family: "Inter Tight";
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.02em;
  color: #1C1D1E;
  margin-top: 32px;
}
.usp .container .usp_text .btns_mobile_download {
  margin-top: 32px;
  display: flex;
  -moz-column-gap: 8px;
       column-gap: 8px;
}
.usp .container .usp_text .btns_mobile_download button {
  width: 150px;
  height: 43px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 7px;
}
.usp .container .man_with_notebook {
  top: 152px;
  left: 126px;
  z-index: 3;
}
.usp .container .chart {
  top: -93px;
  left: 401px;
}
.usp .container .eth {
  z-index: 3;
  top: 196px;
  left: 752px;
}
.usp .container .eth button {
  padding: 7px 8px 3px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 12.3257px 26.7057px 32.1838px rgba(0, 0, 0, 0.46);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 12.3257px;
  transform: rotate(17.09deg);
}
.usp .container .ai {
  z-index: 3;
  top: 128px;
  left: 899px;
}
.usp .container .ai button {
  padding: 10px 15px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: -11px -18px 38px #6735F4, 18px 39px 47px 1px rgba(0, 0, 0, 0.64);
  -webkit-backdrop-filter: blur(5.5px);
          backdrop-filter: blur(5.5px);
  border-radius: 18px;
  transform: rotate(13.17deg);
  font-weight: 700;
  font-size: 32px;
  line-height: 140%;
  color: #FFFFFF;
}
.usp .container .usdt {
  z-index: 2;
  top: 416px;
  left: 325px;
}
.usp .container .usdt button {
  padding: 12px 12px 6px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: -7px 39px 47px rgba(0, 0, 0, 0.46);
  border-radius: 18px;
  transform: rotate(-14.5deg);
}
.usp .container .stat {
  z-index: 2;
  top: 344px;
  left: 723px;
}
.usp .container .stat button {
  padding: 12px 12px 6px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: -7px 39px 47px rgba(0, 0, 0, 0.46);
  border-radius: 18px;
  transform: rotate(-14.5deg);
}

.about_us {
  margin-top: 20px;
  width: 100%;
  padding: 0px 20px;
  position: relative;
  z-index: 2;
}
.about_us .images {
  display: flex;
  justify-content: center;
}
.about_us .images div {
  z-index: -1;
}
.about_us .images .light1 {
  left: -102px;
  top: -100px;
}
.about_us .images .light2 {
  left: 85px;
  top: -44px;
}
.about_us .images .light3 {
  left: -149px;
  top: 282px;
}
.about_us .images .light4 {
  left: -614px;
  top: 473px;
}
.about_us .about_us_inner {
  width: 100%;
  border-radius: 32px;
  background: rgba(55, 99, 255, 0.1);
  padding-top: 65px;
  padding-bottom: 150px;
  overflow: hidden;
}
.about_us .about_us_inner .container h2 {
  text-align: center;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.205em;
  text-transform: uppercase;
  background: linear-gradient(90deg, #C6CBFF -6.86%, #FFC6E1 128.43%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.about_us .about_us_inner .container .header {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -0.02em;
  text-align: center;
  margin-top: 12px;
}
.about_us .about_us_inner .container .content {
  display: flex;
  justify-content: space-between;
}
.about_us .about_us_inner .container .content .advantages {
  width: 48%;
}
.about_us .about_us_inner .container .content .text {
  width: 42%;
}
.about_us .about_us_inner .container .content .advantages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.about_us .about_us_inner .container .content .advantages .left, .about_us .about_us_inner .container .content .advantages .right {
  display: flex;
  width: 48.3%;
  flex-wrap: wrap;
  row-gap: 20px;
  margin-top: 58px;
}
.about_us .about_us_inner .container .content .advantages .right {
  padding-top: 50px;
}
.about_us .about_us_inner .container .content .advantages .left {
  padding-bottom: 50px;
}
.about_us .about_us_inner .container .content .advantages .element {
  width: 100%;
  padding: 20px 20px 30px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: inset 0px 4px 11px rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(41px);
          backdrop-filter: blur(41px);
  border-radius: 21px;
}
.about_us .about_us_inner .container .content .advantages .element .element_header {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  margin-top: 12px;
}
.about_us .about_us_inner .container .content .advantages .element .element_text {
  font-family: "Inter";
  font-weight: 300;
  font-size: 16px;
  line-height: 25px;
  color: #B5B6B6;
  margin-top: 10px;
}
.about_us .about_us_inner .container .content .text {
  margin: auto 0;
}
.about_us .about_us_inner .container .content .text p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 25px;
  color: #FFFFFF;
}
.about_us .about_us_inner .container .content .text p:not(:first-child) {
  margin-top: 40px;
}
.about_us .about_us_inner .container .content .text p.bold {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}
.about_us .about_us_inner .container .content .text .services_about_us_logos {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.offers {
  margin-top: 74px;
}
.offers .header .large {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}
.offers .header .small {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 25px;
  color: #B5B6B6;
  margin-top: 12px;
}
.offers .offers_list {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
}
.offers .offers_list .offer:hover {
  border: 1px solid rgb(55, 99, 255);
  box-shadow: 0px 16px 60px rgba(71, 145, 255, 0.29);
}
.offers .offers_list .offer {
  width: 32%;
  background: rgba(79, 128, 255, 0.14);
  border: 1px solid rgba(55, 99, 255, 0);
  border-radius: 12px;
  min-height: 200px;
}
.offers .offers_list .offer .header, .offers .offers_list .offer .content {
  padding: 24px;
}
.offers .offers_list .offer .header .name {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.offers .offers_list .offer .header .name .text, .offers .offers_list .offer .header .name .verified {
  margin: auto 0;
}
.offers .offers_list .offer .header .name .text {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}
.offers .offers_list .offer .header .recomended_deposit {
  margin-top: 5px;
  font-family: "Inter";
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.74);
}
.offers .offers_list .offer .header .recomended_deposit b {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
}
.offers .offers_list .offer .header .tags {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  -moz-column-gap: 6px;
       column-gap: 6px;
  row-gap: 6px;
}
.offers .offers_list .offer .header .tags .tag {
  font-family: "Inter";
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #FFFFFF;
  padding: 4px 12px;
  background: #3763FF;
  border-radius: 6px;
}
.offers .offers_list .offer .chart img {
  width: 100%;
  margin-top: -12px;
}
.offers .offers_list .offer .chart .price_wrapper {
  display: flex;
  justify-content: center;
}
.offers .offers_list .offer .chart .price_wrapper .price {
  padding: 4px 12px;
  background: rgba(79, 128, 255, 0.14);
  border-radius: 6px;
  font-family: "Inter Tight";
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
}
.offers .offers_list .offer .content {
  margin-top: -20px;
}
.offers .offers_list .offer .content .info, .offers .offers_list .offer .content .pnl {
  border-bottom: 1px solid rgba(79, 128, 255, 0.14);
  padding-bottom: 20px;
}
.offers .offers_list .offer .content .pnl .text {
  font-family: "Inter";
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #B5B6B6;
}
.offers .offers_list .offer .content .pnl .num {
  margin-top: 6px;
  display: flex;
  justify-content: space-between;
}
.offers .offers_list .offer .content .pnl .num .count, .offers .offers_list .offer .content .pnl .num .percent {
  margin: auto 0;
}
.offers .offers_list .offer .content .pnl .num .count {
  font-family: "Inter Tight";
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.02em;
}
.offers .offers_list .offer .content .pnl .num .percent {
  font-family: "Inter";
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #1C1D1E;
  padding: 4px 12px;
  background: #ACE44F;
  border-radius: 6px;
}
.offers .offers_list .offer .content .info .info_element {
  margin-top: 18px;
  display: flex;
  justify-content: space-between;
}
.offers .offers_list .offer .content .info .info_element .name, .offers .offers_list .offer .content .info .info_element .value {
  margin: auto 0;
}
.offers .offers_list .offer .content .info .info_element .name {
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #B5B6B6;
}
.offers .offers_list .offer .content .info .info_element .value {
  padding: 2px 8px;
  background: rgba(55, 99, 255, 0.1);
  border-radius: 11px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.02em;
}
.offers .offers_list .offer .content .price {
  margin-top: 18px;
}
.offers .offers_list .offer .content .price .price_header {
  font-family: "Inter";
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #B5B6B6;
}
.offers .offers_list .offer .content .price .price_value {
  margin-top: 6px;
  display: flex;
  -moz-column-gap: 8px;
       column-gap: 8px;
}
.offers .offers_list .offer .content .price .price_value .add_info_type_1, .offers .offers_list .offer .content .price .price_value .add_info_type_2, .offers .offers_list .offer .content .price .price_value .text {
  margin: auto 0;
}
.offers .offers_list .offer .content .price .price_value .add_info_type_2 {
  background: rgba(149, 248, 164, 0.11);
  border-radius: 11px;
  padding: 6px 12px;
  font-family: "Inter Tight";
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}
.offers .offers_list .offer .content .price .price_value .add_info_type_1 {
  padding: 4px 12px;
  background: #ADFC06;
  border-radius: 7px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.02em;
  color: #000000;
}
.offers .offers_list .offer .content .price .price_value .text {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.02em;
}
.offers .offers_list .offer .content .price .price_value .text span {
  padding-left: 6px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.02em;
  text-decoration-line: line-through;
  color: rgba(255, 255, 255, 0.5);
}
.offers .offers_list .offer .content .buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.offers .offers_list .offer .content .buttons button {
  width: 144px;
  height: 57px;
  background: none;
  border-radius: 65px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.02em;
}
.offers .offers_list .offer .content .buttons button:first-child {
  background: #3763FF;
}
.offers .offers_list .offer .content .buttons button:last-child {
  border: 1px solid rgba(255, 255, 255, 0.25);
}

.secure {
  margin-top: 34px;
  display: flex;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
.secure .text, .secure img {
  margin: auto 0;
}
.secure .text {
  font-family: "Inter";
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #B5B6B6;
  padding-right: 15px;
}

.light_block_2 {
  width: 100%;
  overflow: hidden;
}
.light_block_2 .images {
  display: flex;
  justify-content: center;
}
.light_block_2 .images .light1 {
  top: -88px;
  left: -21px;
}
.light_block_2 .images .light2 {
  top: 371px;
  left: -391px;
}
.light_block_2 .images .light3 {
  top: 388px;
  left: -1553px;
}
.light_block_2 .images .light4 {
  top: 736px;
  left: -1011px;
}

.security {
  margin-top: 150px;
}
.security .container {
  display: flex;
  justify-content: space-between;
}
.security .container .img {
  width: 40%;
}
.security .container .img .success {
  left: -50px;
}
.security .container .img .light {
  left: -518px;
  top: -87px;
}
.security .container .content {
  width: 55%;
}
.security .container .content .security_header .small {
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.205em;
  text-transform: uppercase;
  color: #D9E44F;
}
.security .container .content .security_header .large {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -0.02em;
  margin-top: 12px;
}
.security .container .content .advantages {
  margin-top: 37px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 20px;
}
.security .container .content .advantages .advantages_element {
  width: 48.4%;
  background: rgba(255, 255, 255, 0.05);
  -webkit-backdrop-filter: blur(54px);
          backdrop-filter: blur(54px);
  border-radius: 17px;
  padding: 16px 16px 24px;
}
.security .container .content .advantages .advantages_element .advantages_element_header {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  margin-top: 13px;
}
.security .container .content .advantages .advantages_element .advantages_element_text {
  margin-top: 10px;
  font-family: "Inter";
  font-weight: 300;
  font-size: 16px;
  line-height: 25px;
  color: #B5B6B6;
}

.transactions {
  margin-top: 155px;
  position: relative;
  z-index: 2;
}
.transactions .transactions_header .large, .transactions .transactions_header .small {
  text-align: center;
}
.transactions .transactions_header .large {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}
.transactions .transactions_header .small {
  font-family: "Inter";
  font-weight: 300;
  font-size: 16px;
  line-height: 25px;
  color: #B5B6B6;
  margin-top: 12px;
}
.transactions .navigation {
  display: flex;
  margin-top: 40px;
}
.transactions .navigation .navigation_element:hover {
  color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(255, 255, 255);
  cursor: pointer;
}
.transactions .navigation .navigation_element {
  width: 33%;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.5);
}
.transactions .navigation .active {
  border-bottom: 1px solid rgb(217, 228, 79);
  color: rgb(255, 255, 255);
}
.transactions .number {
  width: 7.56%;
}
.transactions .type {
  width: 7.18%;
}
.transactions .pair {
  width: 15.13%;
}
.transactions .date {
  width: 13.7%;
}
.transactions .count {
  width: 8.43%;
}
.transactions .price {
  width: 10.3%;
}
.transactions .volume {
  width: 19.15%;
}
.transactions .profit {
  width: 18.2%;
}
.transactions .table_naming {
  margin-top: 32px;
  padding: 0px 20px;
  display: flex;
  padding-bottom: 6px;
}
.transactions .table_naming div {
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  opacity: 0.7;
}
.transactions .table_element {
  margin-top: 6px;
  padding: 0px 20px;
  display: flex;
  height: 60px;
  background: rgba(255, 255, 255, 0.03);
  border-radius: 12px;
}
.transactions .table_element .number, .transactions .table_element .type, .transactions .table_element .pair, .transactions .table_element .date, .transactions .table_element .count, .transactions .table_element .price, .transactions .table_element .volume, .transactions .table_element .profit {
  margin: auto 0;
}
.transactions .table_element .number {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  opacity: 0.5;
}
.transactions .table_element .type .short {
  color: #FF5F72;
}
.transactions .table_element .type .long {
  color: #D9E44F;
}
.transactions .table_element .type .direction {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.02em;
}
.transactions .table_element .type .leverage {
  font-family: "Inter";
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.02em;
  color: #B5B6B6;
}
.transactions .table_element .pair {
  display: flex;
  -moz-column-gap: 12px;
       column-gap: 12px;
}
.transactions .table_element .pair img, .transactions .table_element .pair .name {
  margin: auto 0;
}
.transactions .table_element .pair .name {
  font-family: "Inter";
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #FFFFFF;
}
.transactions .table_element .date {
  font-family: "Inter";
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #FFFFFF;
  opacity: 0.7;
}
.transactions .table_element .count {
  font-family: "Inter";
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #FFFFFF;
}
.transactions .table_element .price {
  font-family: "Inter";
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.025em;
  color: #FFFFFF;
}
.transactions .table_element .volume {
  font-family: "Inter";
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #FFFFFF;
  opacity: 0.7;
}
.transactions .table_element .profit {
  display: flex;
  justify-content: space-between;
}
.transactions .table_element .profit .num, .transactions .table_element .profit .percent {
  margin: auto 0;
}
.transactions .table_element .profit .num {
  font-family: "Inter";
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.025em;
  color: #FFFFFF;
}
.transactions .table_element .profit .percent {
  font-family: "Inter";
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #FFFFFF;
  padding: 4px 12px;
  background: #2CBA65;
  border-radius: 6px;
}

.tutorial {
  margin-top: 100px;
  padding: 0px 20px;
  position: relative;
  z-index: 2;
}
.tutorial .tutorial_inner {
  background: rgba(55, 99, 255, 0.1);
  border-radius: 32px;
  padding-top: 71px;
  padding-bottom: 85px;
  overflow: hidden;
}
.tutorial .tutorial_inner .images {
  display: flex;
  justify-content: center;
}
.tutorial .tutorial_inner .images .man {
  top: 41px;
  left: -46px;
}
.tutorial .tutorial_inner .images .waves {
  top: 187px;
  left: -894px;
  z-index: -1;
}
.tutorial .tutorial_inner .images .light {
  top: -31px;
  left: -740px;
  z-index: 0;
}
.tutorial .tutorial_inner .tutorial_header {
  position: relative;
  z-index: 2;
}
.tutorial .tutorial_inner .tutorial_header .small {
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.205em;
  text-transform: uppercase;
  background: linear-gradient(90deg, #C6CBFF -6.86%, #FFC6E1 128.43%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.tutorial .tutorial_inner .tutorial_header .large {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -0.02em;
  margin-top: 12px;
}
.tutorial .tutorial_inner .tutorial_header .add {
  margin-top: 12px;
  font-family: "Inter";
  font-weight: 300;
  font-size: 16px;
  line-height: 25px;
  color: #B5B6B6;
}
.tutorial .tutorial_inner .path_to_earn {
  position: relative;
  z-index: 2;
  margin-top: 41px;
  display: flex;
  -moz-column-gap: 39px;
       column-gap: 39px;
}
.tutorial .tutorial_inner .path_to_earn .numbers {
  width: 58px;
  padding: 7px 4px;
  height: 407px;
  background: linear-gradient(180deg, #287EFF 0%, #4200FF 34.9%, #AB1AFF 67.71%, rgba(188, 31, 255, 0) 100%);
  border-radius: 67px;
}
.tutorial .tutorial_inner .path_to_earn .numbers button:not(:first-child) {
  margin-top: 64px;
}
.tutorial .tutorial_inner .path_to_earn .numbers button {
  display: block;
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 90px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}
.tutorial .tutorial_inner .path_to_earn .numbers button:hover {
  opacity: 1;
  cursor: default;
}
.tutorial .tutorial_inner .path_to_earn .steps .step:not(:first-child) {
  margin-top: 56px;
}
.tutorial .tutorial_inner .path_to_earn .steps .step .location_and_time {
  display: flex;
  -moz-column-gap: 12px;
       column-gap: 12px;
}
.tutorial .tutorial_inner .path_to_earn .steps .step .location_and_time .location, .tutorial .tutorial_inner .path_to_earn .steps .step .location_and_time .time, .tutorial .tutorial_inner .path_to_earn .steps .step .location_and_time img {
  margin: auto 0;
}
.tutorial .tutorial_inner .path_to_earn .steps .step .location_and_time .location {
  padding-right: 12px;
  border-right: 1px solid rgba(255, 255, 255, 0.25);
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.02em;
}
.tutorial .tutorial_inner .path_to_earn .steps .step .location_and_time .time {
  padding: 4px 12px;
  background: #3763FF;
  border-radius: 62px;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #FFFFFF;
}
.tutorial .tutorial_inner .path_to_earn .steps .step .text {
  margin-top: 6px;
  font-family: "Inter";
  font-weight: 300;
  font-size: 16px;
  line-height: 25px;
  color: #B5B6B6;
}

.chance {
  margin-top: 44px;
  padding: 0px 20px;
}
.chance .chance_inner {
  background: #3763FF;
  border-radius: 32px;
  padding-top: 72px;
  padding-bottom: 275px;
}
.chance .chance_inner .chance_header .small {
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.205em;
  text-transform: uppercase;
  background: linear-gradient(90deg, #D4FFBF -6.86%, #C2D0FF 128.43%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.chance .chance_inner .chance_header .large {
  margin-top: 12px;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -0.02em;
}
.chance .chance_inner .chance_header .add {
  margin-top: 12px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 25px;
  color: #FFFFFF;
}
.chance .chance_inner .chance_header button {
  margin-top: 12px;
  padding: 19px 44px;
  background: #D9E44F;
  border-radius: 65px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.02em;
  color: #1C1D1E;
}

.small_offers {
  margin-top: -65px;
}
.small_offers .container {
  display: flex;
  justify-content: space-between;
}
.small_offers .container .offer {
  width: 32.5%;
  background: #1C1D1E;
  border-radius: 17px;
  padding: 23px;
}
.small_offers .container .offer .name {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.small_offers .container .offer .name .text, .small_offers .container .offer .name .verified {
  margin: auto 0;
}
.small_offers .container .offer .name .text {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.02em;
}
.small_offers .container .offer .price {
  margin-top: 12px;
}
.small_offers .container .offer .price .text {
  font-family: "Inter";
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #B5B6B6;
}
.small_offers .container .offer .price .num {
  margin-top: 6px;
  display: flex;
  -moz-column-gap: 6px;
       column-gap: 6px;
}
.small_offers .container .offer .price .num div {
  margin: auto 0;
}
.small_offers .container .offer .price .num .text {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.02em;
  color: white;
}
.small_offers .container .offer .price .num .text span {
  font-family: "Inter";
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.02em;
  text-decoration-line: line-through;
  color: rgba(255, 255, 255, 0.5);
  padding-left: 6px;
}
.small_offers .container .offer .price .num .add_info_type_1 {
  font-family: "Inter Tight";
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.02em;
  color: #000000;
  background: #ADFC06;
  border-radius: 7px;
  padding: 4px 12px;
}
.small_offers .container .offer button {
  margin-top: 12px;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 38px;
  display: flex;
  padding: 12px 22px;
  -moz-column-gap: 18px;
       column-gap: 18px;
}
.small_offers .container .offer button img, .small_offers .container .offer button .text {
  margin: auto 0;
}

footer {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  margin-top: 87px;
  background: rgb(9, 10, 11);
}
footer .header {
  display: flex;
  justify-content: space-between;
  padding: 35px 0px;
}
footer .header .text, footer .header button {
  margin: auto 0;
}
footer .header .text .large {
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}
footer .header .text .small {
  font-family: "Inter";
  font-weight: 300;
  font-size: 16px;
  line-height: 25px;
  color: #B5B6B6;
}
footer .header button {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.02em;
  padding: 16.5px 44px;
  background: #3763FF;
  border-radius: 65px;
}
footer .content {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 30px 0px;
  display: flex;
  justify-content: space-between;
}
footer .content .logo {
  width: 20%;
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
footer .content .logo .text, footer .content .logo img {
  margin: auto 0;
}
footer .content .logo .text {
  font-weight: 700;
  font-size: 23.0128px;
  line-height: 28px;
  letter-spacing: -0.02em;
}
footer .content .navigation {
  width: 39%;
}
footer .content .navigation .navigation_header {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.02em;
  padding-bottom: 3px;
}
footer .content .navigation .elements {
  display: flex;
  flex-wrap: wrap;
}
footer .content .navigation .element {
  width: 44%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #B5B6B6;
  padding-top: 17px;
}
footer .content .documents {
  width: 30%;
}
footer .content .documents .documents_header {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.02em;
  padding-bottom: 3px;
}
footer .content .documents .elements {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer .content .documents .element {
  width: 100%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #B5B6B6;
  padding-top: 17px;
}
footer .footer {
  padding: 25px 0px;
  display: flex;
  justify-content: space-between;
}
footer .footer .text {
  font-family: "Inter";
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  color: #B5B6B6;
}
footer .footer .text, footer .footer .soc_net {
  margin: auto 0;
}
footer .footer .soc_net {
  display: flex;
  -moz-column-gap: 35px;
       column-gap: 35px;
}
footer .footer .soc_net img {
  margin: auto 0;
}