article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section
    display: block
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button
    margin: 0
    padding: 0
    border: 0
    font-size: 100%
    font: inherit
    vertical-align: baseline
    box-sizing: border-box
    color: white
    font-family: "Inter"

.btn
    font-weight: 700
    font-size: 16px
    line-height: 19px
    letter-spacing: -0.02em
    @media(max-width: 550px)
        font-size: 14px
        line-height: 17px
.small_btn
    font-weight: 500
    font-size: 14px
    line-height: 17px
    letter-spacing: -0.02em
.body
    font-weight: 300
    font-size: 16px
    line-height: 25px
    @media (max-width: 550px)
        font-size: 14px
        line-height: 22px

.colored_text
    font-weight: 800
    font-size: 16px
    line-height: 19px
    letter-spacing: 0.205em
    text-transform: uppercase
    @media (max-width: 550px)
        font-size: 12px
        line-height: 15px
h1
    font-weight: 700
    font-size: 44px
    line-height: 53px
    letter-spacing: -0.02em
    @media(max-width: 550px)
        font-size: 26px
        line-height: 31px
h2
    font-weight: 700
    font-size: 36px
    line-height: 44px
    letter-spacing: -0.02em
    @media(max-width: 550px)
        font-size: 24px
        line-height: 29px

h3
    font-weight: 700
    font-size: 26px
    line-height: 31px
    letter-spacing: -0.02em
    @media(max-width: 550px)
        font-size: 18px
        line-height: 22px
h4
    font-weight: 700
    font-size: 24px
    line-height: 29px
    letter-spacing: -0.02em
    @media(max-width: 550px)
        font-size: 17px
        line-height: 21px
h5
    font-weight: 700
    font-size: 20px
    line-height: 24px
    letter-spacing: -0.02em
    @media (max-width: 550px)
        font-size: 14px
        line-height: 21px
h6
    font-weight: 700
    font-size: 18px
    line-height: 22px
    letter-spacing: -0.02em

.h4
    font-weight: 700
    font-size: 24px
    line-height: 29px
    letter-spacing: -0.02em
    @media(max-width: 550px)
        font-size: 17px
        line-height: 21px
.h5
    font-weight: 700
    font-size: 20px
    line-height: 24px
    letter-spacing: -0.02em
    @media (max-width: 550px)
        font-size: 14px
        line-height: 21px
.h6
    font-weight: 700
    font-size: 18px
    line-height: 22px
    letter-spacing: -0.02em

.light18
    font-weight: 300
    font-size: 18px
    line-height: 22px
    letter-spacing: -0.02em

.medium15
    font-weight: 500
    font-size: 15px
    line-height: 20px
.bold15
    font-weight: 700
    font-size: 15px
    line-height: 20px
    letter-spacing: -0.025em
.light14
    font-weight: 300
    font-size: 14px
    line-height: 20px

.regular14
    font-weight: 400
    font-size: 14px
    line-height: 20px

.medium14
    font-weight: 500
    font-size: 14px
    line-height: 20px

.medium12
    font-weight: 500
    font-size: 12px
    line-height: 15px
    letter-spacing: -0.02em

.tight
    letter-spacing: -0.04em

.input_block
    border-radius: 11px
    width: 100%
    padding: 13px 20px
    border: 1px solid rgba(255, 255, 255, 0.25)
    display: flex
    column-gap: 16px
    img, .label_and_input
        margin: auto 0
    .label_and_input
        padding-left: 16px
        border-left: 1px solid rgba(255, 255, 255, 0.25)
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        .inp, .eye
            margin: auto 0
        .eye:hover
            cursor: pointer
        .eye
            padding-top: 6px
        .inp
            display: flex
            justify-content: left
            flex-wrap: wrap
            row-gap: 4px
            width: 70%
        .label
            color: #B5B6B6
            font-size: 12px
            font-weight: 500
            letter-spacing: -0.24px
            width: 100%
        input
            background: none
            border: none
            color: white
            outline: none
            font-size: 15px
            font-weight: 500
            line-height: 20px
            @media (max-width: 500px)
                font-size: 12px

body
    background: radial-gradient(63.04% 62.69% at 10.45% 12.57%, rgba(44, 39, 255, 0.26) 0%, rgba(39, 139, 255, 0.00) 100%), radial-gradient(50.96% 50.72% at 82.88% 61.38%, rgba(44, 39, 255, 0.20) 0%, rgba(44, 39, 255, 0.00) 100%), linear-gradient(180deg, #040B14 0%, #081934 100%)
    min-height: 100vh
.send_info_button
    width: 229px
    padding: 19px 44px
    justify-content: center
    align-items: center
    gap: 8px
    border-radius: 65px
    background: var(--primary, #3763FF)
    font-size: 16px
    font-weight: 700
    letter-spacing: -0.32px
.container
    width: 100%
    max-width: 1440px
    padding: 15px
    margin: 0 auto
    display: flex
    justify-content: space-between
    @media (max-width: 600px)
        padding: 10px
.section
    border-radius: 14px
    background: rgba(255, 255, 255, 0.05)
    padding: 20px 26px 30px
    width: 100%
    .hr
        margin-top: 24px
        width: 100%
        height: 1px
        background: linear-gradient(270deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.50) 52.60%, rgba(255, 255, 255, 0.00) 100%)
    .content
        margin-top: 24px
.sidebar
    width: 16.5%
    .section
        padding: 14px
        .logo
            width: 100%
            display: flex
            column-gap: 16px
            img, .text
                margin: auto 0
            .text
                letter-spacing: -0.365px
                font-size: 18.264px
                font-weight: 700
        .navigation
            display: flex
            flex-wrap: wrap
            margin-top: 26px
            .navigation_element
                width: 100%
                padding: 12px
                background: none
                border-radius: 12px
                display: flex
                column-gap: 16px
                transition: background 300ms, filter 100ms
                filter: brightness(0.7)
                .text
                    font-size: 15px
                    font-weight: 500
                img, .text
                    margin: auto 0
            .navigation_element:hover
                background: #3763FF
                cursor: pointer
                filter: brightness(1)
            .active
                filter: brightness(1)
                background: #3763FF
        .add_api_keys_button
            margin-top: 44px
            background: #3763FF
            border-radius: 45px
            padding: 12px
            width: 100%
            display: flex
            justify-content: center
            column-gap: 12px
            img, .text
                margin: auto 0
            .text
                font-size: 15px
                font-weight: 500

    .bottom_button
        margin-top: 10px
        background: rgba(255, 255, 255, 0.05)
        border-radius: 12px
        padding: 12px
        display: flex
        justify-content: left
        column-gap: 16px
        width: 100%
        img, .text
            margin: auto 0
        .text
            font-size: 15px
            font-weight: 500
            color: #B5B6B6
    .background_transparent
        background: transparent
    .mt_200
        margin-top: 200px
#content
    width: 82%
    .section:not(:first-child)
        margin-top: 20px
    #profile
        background: linear-gradient(180deg, #3763FF 0%, rgba(55, 99, 255, 0.00) 60%), rgba(255, 255, 255, 0.05)
        .hr
            width: 60%
        .content
            display: flex
            column-gap: 32px
            .img
                width: 15%
            .info
                .greetings
                    font-size: 16px
                    font-weight: 300
                .name
                    margin-top: 10px
                    font-size: 36px
                    font-weight: 700
                    letter-spacing: -0.72px
                .form
                    display: flex
                    margin-top: 24px
                    column-gap: 10px
                    .input_block
                        width: 300px
                .send_info_button
                    margin-top: 24px
    #balance
        .content
            display: flex
            justify-content: space-between
            .balance
                display: flex
                column-gap: 30px
                .round
    #password
        .content
            display: flex
            column-gap: 32px
            .img
                width: 15%
            .info
                .greetings
                    font-size: 16px
                    font-weight: 300
                .name
                    margin-top: 10px
                    font-size: 36px
                    font-weight: 700
                    letter-spacing: -0.72px
                .form
                    display: flex
                    margin-top: 24px
                    column-gap: 10px
                    .input_block
                        width: 300px
                .send_info_button
                    margin-top: 24px
