@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@500;700;800&family=Inter:wght@300;500&display=swap')

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section
    display: block
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button
    margin: 0
    padding: 0
    border: 0
    font-size: 100%
    font: inherit
    vertical-align: baseline
    box-sizing: border-box
    color: white
    transition: .3s
    font-family: 'Inter Tight'
img, svg
    transition: .3s
a:hover, button:hover
    cursor: pointer
    opacity: .6
.dnone
    display: none
a
    text-decoration: none
body
    background: #000000

.container
    width: 1085px
    margin: 0 auto
    @media (max-width: 1150px)
        width: 100%
        padding: 0px 15px

header
    .container
        height: 80px
        display: flex
        justify-content: space-between
        .navigation
            display: flex
            justify-content: space-between
            column-gap: 30px
            .logo
                display: flex
                justify-content: space-between
                column-gap: 20px
                .img
                    margin: auto 0
                .text
                    margin: auto 0
                    font-weight: 700
                    font-size: 18.2642px
                    line-height: 22px
            .links
                display: flex
                justify-content: space-between
                margin: auto 0
                column-gap: 20px
                a
                    font-family: 'Inter'
                    font-weight: 500
                    font-size: 15px
                    line-height: 20px
                    color: #B5B6B6

        .buttons
            display: flex
            justify-content: space-between
            column-gap: 12px
            .lang
                display: flex
                margin: auto 0
                justify-content: space-between
                column-gap: 12px
                font-weight: 700
                font-size: 16px
            .try_now
                margin: auto 0
                button
                    width: 122px
                    height: 43px
                    background: #3763FF
                    border-radius: 65px
                    font-weight: 700
                    font-size: 16px

.light_block_1
    width: 100%
    overflow: hidden
    .light
        display: flex
        justify-content: center
        .free_image
            z-index: 2
        .el1
            top: 322px
            left: -700px
            filter: blur(150px)
        .el2
            top: 320px
            left: 50px
            filter: blur(150px)
        .el3
            top: 25px
            left: -300px
        .el4
            top: 25px
            left: -1240px
        .line
            top: 340px
            left: -1005px

.free_image
    width: 0px
    height: 0px
    position: relative
.usp
    padding-top: 90px
    padding-bottom: 350px
    width: 100%
    overflow: hidden
    .container
        display: flex
        .images
            position: relative
        .usp_text
            width: 48%
            position: relative
            z-index: 2
            .guarant
                display: flex
                justify-content: left
                column-gap: 14px
                .text
                    font-family: 'Inter'
                    font-weight: 500
                    font-size: 15px
                    line-height: 20px
                    color: #B5B6B6
                    margin: auto 0
            h1
                font-family: 'Inter Tight'
                font-style: normal
                font-weight: 700
                font-size: 44px
                line-height: 53px
                letter-spacing: -0.02em
                margin-top: 10px
            h2
                margin-top: 20px
                font-family: 'Inter'
                font-style: normal
                font-weight: 300
                font-size: 16px
                line-height: 25px
                color: #B5B6B6
                width: 60%
            .try_free
                width: 309px
                height: 57px
                background: #D9E44F
                border-radius: 65px
                font-family: 'Inter Tight'
                font-weight: 700
                font-size: 16px
                line-height: 19px
                letter-spacing: -0.02em
                color: #1C1D1E
                margin-top: 32px
            .btns_mobile_download
                margin-top: 32px
                display: flex
                column-gap: 8px
                button
                    width: 150px
                    height: 43px
                    background: rgba(255, 255, 255, 0.15)
                    border-radius: 7px
        .man_with_notebook
            top: 152px
            left: 126px
            z-index: 3
        .chart
            top: -93px
            left: 401px
        .eth
            z-index: 3
            top: 196px
            left: 752px
            button
                padding: 7px 8px 3px
                background: rgba(255, 255, 255, 0.1)
                box-shadow: 12.3257px 26.7057px 32.1838px rgba(0, 0, 0, 0.46)
                backdrop-filter: blur(10px)
                border-radius: 12.3257px
                transform: rotate(17.09deg)
        .ai
            z-index: 3
            top: 128px
            left: 899px
            button
                padding: 10px 15px
                background: rgba(255, 255, 255, 0.1)
                box-shadow: -11px -18px 38px #6735F4, 18px 39px 47px 1px rgba(0, 0, 0, 0.64)
                backdrop-filter: blur(5.5px)
                border-radius: 18px
                transform: rotate(13.17deg)
                font-weight: 700
                font-size: 32px
                line-height: 140%
                color: #FFFFFF
        .usdt
            z-index: 2
            top: 416px
            left: 325px
            button
                padding: 12px 12px 6px
                background: rgba(255, 255, 255, 0.1)
                box-shadow: -7px 39px 47px rgba(0, 0, 0, 0.46)
                border-radius: 18px
                transform: rotate(-14.5deg)
        .stat
            z-index: 2
            top: 344px
            left: 723px
            button
                padding: 12px 12px 6px
                background: rgba(255, 255, 255, 0.1)
                box-shadow: -7px 39px 47px rgba(0, 0, 0, 0.46)
                border-radius: 18px
                transform: rotate(-14.5deg)
.about_us
    margin-top: 20px
    width: 100%
    padding: 0px 20px
    position: relative
    z-index: 2
    .images
        display: flex
        justify-content: center
        div
            z-index: -1
        .box
            left: -758px
            top: 52px
        .light1
            left: -102px
            top: -100px
        .light2
            left: 85px
            top: -44px
        .light3
            left: -149px
            top: 282px
        .light4
            left: -614px
            top: 473px

    .about_us_inner
        width: 100%
        border-radius: 32px
        background: rgba(55, 99, 255, 0.1)
        padding-top: 65px
        padding-bottom: 150px
        overflow: hidden
        .container
            h2
                text-align: center
                font-weight: 800
                font-size: 16px
                line-height: 19px
                letter-spacing: 0.205em
                text-transform: uppercase
                background: linear-gradient(90deg, #C6CBFF -6.86%, #FFC6E1 128.43%)
                -webkit-background-clip: text
                -webkit-text-fill-color: transparent
                background-clip: text
                text-fill-color: transparent
            .header
                font-weight: 700
                font-size: 36px
                line-height: 44px
                letter-spacing: -0.02em
                text-align: center
                margin-top: 12px
            .content
                display: flex
                justify-content: space-between
                .advantages
                    width: 48%
                .text
                    width: 42%
                .advantages
                    display: flex
                    flex-wrap: wrap
                    justify-content: space-between
                    .left, .right
                        display: flex
                        width: 48.3%
                        flex-wrap: wrap
                        row-gap: 20px
                        margin-top: 58px
                    .right
                        padding-top: 50px
                    .left
                        padding-bottom: 50px
                    .element
                        width: 100%
                        padding: 20px 20px 30px
                        background: rgba(255, 255, 255, 0.05)
                        box-shadow: inset 0px 4px 11px rgba(255, 255, 255, 0.1)
                        backdrop-filter: blur(41px)
                        border-radius: 21px
                        .element_header
                            font-weight: 700
                            font-size: 20px
                            line-height: 24px
                            letter-spacing: -0.02em
                            color: #FFFFFF
                            margin-top: 12px
                        .element_text
                            font-family: 'Inter'
                            font-weight: 300
                            font-size: 16px
                            line-height: 25px
                            color: #B5B6B6
                            margin-top: 10px
                .text
                    margin: auto 0
                    p
                        font-family: 'Inter'
                        font-style: normal
                        font-weight: 300
                        font-size: 16px
                        line-height: 25px
                        color: #FFFFFF
                    p:not(:first-child)
                        margin-top: 40px
                    p.bold
                        font-weight: 700
                        font-size: 20px
                        line-height: 24px
                        letter-spacing: -0.02em
                        color: #FFFFFF
                    .services_about_us_logos
                        margin-top: 25px
                        display: flex
                        justify-content: space-between
                        width: 100%

.offers
    margin-top: 74px
    .header
        .large
            font-weight: 700
            font-size: 36px
            line-height: 44px
            letter-spacing: -0.02em
            color: #FFFFFF
        .small
            font-family: 'Inter'
            font-style: normal
            font-weight: 300
            font-size: 16px
            line-height: 25px
            color: #B5B6B6
            margin-top: 12px
    .offers_list
        margin-top: 24px
        display: flex
        justify-content: space-between
        .offer:hover
            border: 1px solid rgba(55, 99, 255, 1)
            box-shadow: 0px 16px 60px rgba(71, 145, 255, 0.29)
        .offer
            width: 32%
            background: rgba(79, 128, 255, 0.14)
            border: 1px solid rgba(55, 99, 255, 0)
            border-radius: 12px
            min-height: 200px
            .header, .content
                padding: 24px
            .header
                .name
                    display: flex
                    column-gap: 10px
                    .text, .verified
                        margin: auto 0
                    .text
                        font-weight: 700
                        font-size: 24px
                        line-height: 29px
                        letter-spacing: -0.02em
                        color: #FFFFFF
                .recomended_deposit
                    margin-top: 5px
                    font-family: 'Inter'
                    font-weight: 300
                    font-size: 14px
                    line-height: 20px
                    color: rgba(255, 255, 255, 0.74)
                    b
                        font-weight: 500
                        font-size: 14px
                        line-height: 20px
                        color: #FFFFFF
                .tags
                    display: flex
                    flex-wrap: wrap
                    margin-top: 10px
                    column-gap: 6px
                    row-gap: 6px
                    .tag
                        font-family: 'Inter'
                        font-weight: 500
                        font-size: 15px
                        line-height: 20px
                        color: #FFFFFF
                        padding: 4px 12px
                        background: #3763FF
                        border-radius: 6px
            .chart
                img
                    width: 100%
                    margin-top: -12px
                .price_wrapper
                    display: flex
                    justify-content: center
                    .price
                        padding: 4px 12px
                        background: rgba(79, 128, 255, 0.14)
                        border-radius: 6px
                        font-family: 'Inter Tight'
                        font-weight: 500
                        font-size: 14px
                        line-height: 20px
                        color: #FFFFFF
            .content
                margin-top: -20px
                .info, .pnl
                    border-bottom: 1px solid rgba(79, 128, 255, 0.14)
                    padding-bottom: 20px
                .pnl
                    .text
                        font-family: 'Inter'
                        font-weight: 500
                        font-size: 15px
                        line-height: 20px
                        color: #B5B6B6
                    .num
                        margin-top: 6px
                        display: flex
                        justify-content: space-between
                        .count, .percent
                            margin: auto 0
                        .count
                            font-family: 'Inter Tight'
                            font-weight: 700
                            font-size: 24px
                            line-height: 29px
                            letter-spacing: -0.02em
                        .percent
                            font-family: 'Inter'
                            font-weight: 500
                            font-size: 15px
                            line-height: 20px
                            color: #1C1D1E
                            padding: 4px 12px
                            background: #ACE44F
                            border-radius: 6px
                .info
                    .info_element
                        margin-top: 18px
                        display: flex
                        justify-content: space-between
                        .name, .value
                            margin: auto 0
                        .name
                            font-family: 'Inter'
                            font-weight: 400
                            font-size: 14px
                            line-height: 20px
                            color: #B5B6B6
                        .value
                            padding: 2px 8px
                            background: rgba(55, 99, 255, 0.1)
                            border-radius: 11px
                            font-weight: 500
                            font-size: 14px
                            line-height: 17px
                            letter-spacing: -0.02em
                .price
                    margin-top: 18px
                    .price_header
                        font-family: 'Inter'
                        font-weight: 500
                        font-size: 15px
                        line-height: 20px
                        color: #B5B6B6
                    .price_value
                        margin-top: 6px
                        display: flex
                        column-gap: 8px
                        .add_info_type_1, .add_info_type_2, .text
                            margin: auto 0
                        .add_info_type_2
                            background: rgba(149, 248, 164, 0.11)
                            border-radius: 11px
                            padding: 6px 12px
                            font-family: 'Inter Tight'
                            font-weight: 500
                            font-size: 14px
                            line-height: 17px
                            letter-spacing: -0.02em
                            color: #FFFFFF
                        .add_info_type_1
                            padding: 4px 12px
                            background: #ADFC06
                            border-radius: 7px
                            font-weight: 600
                            font-size: 14px
                            line-height: 17px
                            letter-spacing: -0.02em
                            color: #000000
                        .text
                            font-weight: 700
                            font-size: 18px
                            line-height: 22px
                            letter-spacing: -0.02em
                            span
                                padding-left: 6px
                                font-family: 'Inter'
                                font-style: normal
                                font-weight: 300
                                font-size: 18px
                                line-height: 22px
                                letter-spacing: -0.02em
                                text-decoration-line: line-through
                                color: rgba(255, 255, 255, 0.5)
                .buttons
                    margin-top: 20px
                    display: flex
                    justify-content: space-between
                    button
                        width: 144px
                        height: 57px
                        background: none
                        border-radius: 65px
                        font-weight: 700
                        font-size: 16px
                        line-height: 19px
                        letter-spacing: -0.02em
                    button:first-child
                        background: #3763FF
                    button:last-child
                        border: 1px solid rgba(255, 255, 255, 0.25)

.secure
    margin-top: 34px
    display: flex
    column-gap: 15px
    .text, img
        margin: auto 0
    .text
        font-family: 'Inter'
        font-weight: 500
        font-size: 15px
        line-height: 20px
        color: #B5B6B6
        padding-right: 15px
.light_block_2
    width: 100%
    overflow: hidden
    .images
        display: flex
        justify-content: center
        .light1
            top: -88px
            left: -21px
        .light2
            top: 371px
            left: -391px
        .light3
            top: 388px
            left: -1553px
        .light4
            top: 736px
            left: -1011px

.security
    margin-top: 150px
    .container
        display: flex
        justify-content: space-between
        .img
            width: 40%
            .success
                left: -50px
            .light
                left: -518px
                top: -87px
        .content
            width: 55%
            .security_header
                .small
                    font-weight: 800
                    font-size: 16px
                    line-height: 19px
                    letter-spacing: 0.205em
                    text-transform: uppercase
                    color: #D9E44F
                .large
                    font-weight: 700
                    font-size: 36px
                    line-height: 44px
                    letter-spacing: -0.02em
                    margin-top: 12px
            .advantages
                margin-top: 37px
                display: flex
                justify-content: space-between
                flex-wrap: wrap
                row-gap: 20px
                .advantages_element
                    width: 48.4%
                    background: rgba(255, 255, 255, 0.05)
                    backdrop-filter: blur(54px)
                    border-radius: 17px
                    padding: 16px 16px 24px
                    .advantages_element_header
                        font-weight: 700
                        font-size: 18px
                        line-height: 22px
                        letter-spacing: -0.02em
                        color: #FFFFFF
                        margin-top: 13px
                    .advantages_element_text
                        margin-top: 10px
                        font-family: 'Inter'
                        font-weight: 300
                        font-size: 16px
                        line-height: 25px
                        color: #B5B6B6
.transactions
    margin-top: 155px
    position: relative
    z-index: 2
    .transactions_header
        .large, .small
            text-align: center
        .large
            font-weight: 700
            font-size: 36px
            line-height: 44px
            letter-spacing: -0.02em
            color: #FFFFFF
        .small
            font-family: 'Inter'
            font-weight: 300
            font-size: 16px
            line-height: 25px
            color: #B5B6B6
            margin-top: 12px
    .navigation
        display: flex
        margin-top: 40px
        .navigation_element:hover
            color: rgba(255, 255, 255,1)
            border-bottom: 1px solid rgba(255, 255, 255, 1)
            cursor: pointer
        .navigation_element
            width: 33%
            text-align: center
            padding-bottom: 20px
            border-bottom: 1px solid rgba(255, 255, 255, 0.15)
            font-weight: 500
            font-size: 18px
            line-height: 22px
            letter-spacing: -0.02em
            color: rgba(255, 255, 255, 0.5)
        .active
            border-bottom: 1px solid rgba(217, 228, 79, 1)
            color: rgba(255, 255, 255,1)
    .number
        width: 7.56%
    .type
        width: 7.18%
    .pair
        width: 15.13%
    .date
        width: 13.7%
    .count
        width: 8.43%
    .price
        width: 10.3%
    .volume
        width: 19.15%
    .profit
        width: 18.2%
    .table_naming
        margin-top: 32px
        padding: 0px 20px
        display: flex
        padding-bottom: 6px
        div
            font-family: 'Inter'
            font-weight: 400
            font-size: 14px
            line-height: 20px
            color: #FFFFFF
            opacity: 0.7
    .table_element
        margin-top: 6px
        padding: 0px 20px
        display: flex
        height: 60px
        background: rgba(255, 255, 255, 0.03)
        border-radius: 12px
        .number, .type, .pair, .date, .count, .price, .volume, .profit
            margin: auto 0
        .number
            font-weight: 700
            font-size: 16px
            line-height: 19px
            letter-spacing: -0.02em
            color: #FFFFFF
            opacity: 0.5
        .type
            .short
                color: #FF5F72
            .long
                color: #D9E44F
            .direction
                font-weight: 700
                font-size: 16px
                line-height: 19px
                letter-spacing: -0.02em
            .leverage
                font-family: 'Inter'
                font-weight: 500
                font-size: 12px
                line-height: 15px
                letter-spacing: -0.02em
                color: #B5B6B6
        .pair
            display: flex
            column-gap: 12px
            img, .name
                margin: auto 0
            .name
                font-family: 'Inter'
                font-weight: 500
                font-size: 15px
                line-height: 20px
                color: #FFFFFF
        .date
            font-family: 'Inter'
            font-weight: 500
            font-size: 15px
            line-height: 20px
            color: #FFFFFF
            opacity: 0.7
        .count
            font-family: 'Inter'
            font-weight: 500
            font-size: 15px
            line-height: 20px
            color: #FFFFFF
        .price
            font-family: 'Inter'
            font-weight: 700
            font-size: 15px
            line-height: 20px
            letter-spacing: -0.025em
            color: #FFFFFF
        .volume
            font-family: 'Inter'
            font-weight: 500
            font-size: 15px
            line-height: 20px
            color: #FFFFFF
            opacity: 0.7
        .profit
            display: flex
            justify-content: space-between
            .num, .percent
                margin: auto 0
            .num
                font-family: 'Inter'
                font-weight: 700
                font-size: 15px
                line-height: 20px
                letter-spacing: -0.025em
                color: #FFFFFF
            .percent
                font-family: 'Inter'
                font-weight: 500
                font-size: 15px
                line-height: 20px
                color: #FFFFFF
                padding: 4px 12px
                background: #2CBA65
                border-radius: 6px
    .security_and_pages
        display: flex
        justify-content: space-between
        margin-top: 23px
        .pages, .sec
            margin: auto 0
        .sec
            .secure
                margin-top: 0px
        .pages
            display: flex
            column-gap: 8px
            button
                width: 48px
                height: 48px
                background: rgba(255, 255, 255, 0.05)
                border-radius: 12px
                font-family: 'Inter'
                font-style: normal
                font-weight: 500
                font-size: 15px
                line-height: 20px
            .active
                background: #3763FF

.tutorial
    margin-top: 100px
    padding: 0px 20px
    position: relative
    z-index: 2
    .tutorial_inner
        background: rgba(55, 99, 255, 0.1)
        border-radius: 32px
        padding-top: 71px
        padding-bottom: 85px
        overflow: hidden
        .images
            display: flex
            justify-content: center
            .chart
                top: 172px
                left: -888px
            .man
                top: 41px
                left: -46px
            .waves
                top: 187px
                left: -894px
                z-index: -1
            .light
                top: -31px
                left: -740px
                z-index: 0

        .tutorial_header
            position: relative
            z-index: 2
            .small
                font-weight: 800
                font-size: 16px
                line-height: 19px
                letter-spacing: 0.205em
                text-transform: uppercase
                background: linear-gradient(90deg, #C6CBFF -6.86%, #FFC6E1 128.43%)
                -webkit-background-clip: text
                -webkit-text-fill-color: transparent
                background-clip: text
                text-fill-color: transparent
            .large
                font-weight: 700
                font-size: 36px
                line-height: 44px
                letter-spacing: -0.02em
                margin-top: 12px
            .add
                margin-top: 12px
                font-family: 'Inter'
                font-weight: 300
                font-size: 16px
                line-height: 25px
                color: #B5B6B6
        .path_to_earn
            position: relative
            z-index: 2
            margin-top: 41px
            display: flex
            column-gap: 39px
            .numbers
                width: 58px
                padding: 7px 4px
                height: 407px
                background: linear-gradient(180deg, #287EFF 0%, #4200FF 34.9%, #AB1AFF 67.71%, rgba(188, 31, 255, 0) 100%)
                border-radius: 67px
                button:not(:first-child)
                    margin-top: 64px
                button
                    display: block
                    width: 50px
                    height: 50px
                    background: rgba(255, 255, 255, 0.2)
                    border-radius: 90px
                    font-weight: 700
                    font-size: 16px
                    line-height: 19px
                    letter-spacing: -0.02em
                    color: #FFFFFF
                button:hover
                    opacity: 1
                    cursor: default
            .steps
                .step:not(:first-child)
                    margin-top: 56px
                .step
                    .location_and_time
                        display: flex
                        column-gap: 12px
                        .location, .time, img
                            margin: auto 0
                        .location
                            padding-right: 12px
                            border-right: 1px solid rgba(255, 255, 255, 0.25)
                            font-weight: 700
                            font-size: 24px
                            line-height: 29px
                            letter-spacing: -0.02em
                        .time
                            padding: 4px 12px
                            background: #3763FF
                            border-radius: 62px
                            font-weight: 500
                            font-size: 15px
                            line-height: 20px
                            color: #FFFFFF
                    .text
                        margin-top: 6px
                        font-family: 'Inter'
                        font-weight: 300
                        font-size: 16px
                        line-height: 25px
                        color: #B5B6B6

.chance
    margin-top: 44px
    padding: 0px 20px
    .chance_inner
        background: #3763FF
        border-radius: 32px
        padding-top: 72px
        padding-bottom: 275px
        overflow: hidden
        .images
            display: flex
            justify-content: center
            .bybit
                top: 15px
                left: 223px
            .circles
                top: 127px
                left: -395px
                z-index: 0
            .btc
                top: -45px
                left: -13px
            .rocket
                top: -93px
                left: -928px
                z-index: 0
            .eth
                top: 161px
                left: 408px
            .usd_t
                top: 20px
                left: 458px
            .btc_l
                top: 149px
                left: 238px
                img
                    filter: grayscale(1)
                    opacity: 0.7
        .chance_header
            z-index: 0
            position: relative

            .small
                font-weight: 800
                font-size: 16px
                line-height: 19px
                letter-spacing: 0.205em
                text-transform: uppercase
                background: linear-gradient(90deg, #D4FFBF -6.86%, #C2D0FF 128.43%)
                -webkit-background-clip: text
                -webkit-text-fill-color: transparent
                background-clip: text
                text-fill-color: transparent
            .large
                margin-top: 12px
                font-weight: 700
                font-size: 36px
                line-height: 44px
                letter-spacing: -0.02em
            .add
                margin-top: 12px
                font-family: 'Inter'
                font-style: normal
                font-weight: 300
                font-size: 16px
                line-height: 25px
                color: #FFFFFF
            button
                margin-top: 12px
                padding: 19px 44px
                background: #D9E44F
                border-radius: 65px
                font-weight: 700
                font-size: 16px
                line-height: 19px
                letter-spacing: -0.02em
                color: #1C1D1E
.small_offers
    margin-top: -65px
    position: relative
    padding-bottom: 87px
    z-index: 2
    overflow: hidden
    .images
        display: flex
        justify-content: center
        .light
            top: 138px
            left: -506px
            z-index: -1
    .container
        display: flex
        justify-content: space-between
        .offer:hover
            border: 1px solid rgba(55, 99, 255, 1)
            box-shadow: 0px 16px 60px rgba(71, 145, 255, 0.29)
        .offer
            border: 1px solid rgba(55, 99, 255, 0)
            width: 32.5%
            background: #1C1D1E
            border-radius: 17px
            padding: 23px
            .name
                display: flex
                column-gap: 10px
                .text, .verified
                    margin: auto 0
                .text
                    font-weight: 700
                    font-size: 24px
                    line-height: 29px
                    letter-spacing: -0.02em
            .price
                margin-top: 12px
                .text
                    font-family: 'Inter'
                    font-weight: 500
                    font-size: 15px
                    line-height: 20px
                    color: #B5B6B6
                .num
                    margin-top: 6px
                    display: flex
                    column-gap: 6px
                    div
                        margin: auto 0
                    .text
                        font-weight: 700
                        font-size: 18px
                        line-height: 22px
                        letter-spacing: -0.02em
                        color: white
                        span
                            font-family: 'Inter'
                            font-weight: 300
                            font-size: 18px
                            line-height: 22px
                            letter-spacing: -0.02em
                            text-decoration-line: line-through
                            color: rgba(255, 255, 255, 0.5)
                            padding-left: 6px
                    .add_info_type_1
                        font-family: 'Inter Tight'
                        font-weight: 600
                        font-size: 14px
                        line-height: 17px
                        letter-spacing: -0.02em
                        color: #000000
                        background: #ADFC06
                        border-radius: 7px
                        padding: 4px 12px
            button
                margin-top: 12px
                background: rgba(255, 255, 255, 0.05)
                border: 1px solid rgba(255, 255, 255, 0.18)
                border-radius: 38px
                display: flex
                padding: 12px 22px
                column-gap: 18px
                img, .text
                    margin: auto 0

footer
    border-top: 1px solid rgba(255, 255, 255, .1)
    background: rgba(9, 10, 11, 1)
    .header
        display: flex
        justify-content: space-between
        padding: 35px 0px
        .text, button
            margin: auto 0
        .text
            .large
                font-weight: 700
                font-size: 26px
                line-height: 31px
                letter-spacing: -0.02em
                color: #FFFFFF
            .small
                font-family: 'Inter'
                font-weight: 300
                font-size: 16px
                line-height: 25px
                color: #B5B6B6
        button
            font-weight: 700
            font-size: 16px
            line-height: 19px
            letter-spacing: -0.02em
            padding: 16.5px 44px
            background: #3763FF
            border-radius: 65px
    .content
        border-bottom: 1px solid rgba(255, 255, 255, .1)
        border-top: 1px solid rgba(255, 255, 255, .1)
        padding: 30px 0px
        display: flex
        justify-content: space-between
        .logo
            width: 20%
            display: flex
            column-gap: 20px
            .text, img
                margin: auto 0
            .text
                font-weight: 700
                font-size: 23.0128px
                line-height: 28px
                letter-spacing: -0.02em
        .navigation
            width: 39%
            .navigation_header
                font-weight: 700
                font-size: 18px
                line-height: 22px
                letter-spacing: -0.02em
                padding-bottom: 3px
            .elements
                display: flex
                flex-wrap: wrap
            .element
                width: 44%
                font-family: 'Inter'
                font-style: normal
                font-weight: 500
                font-size: 15px
                line-height: 20px
                color: #B5B6B6
                padding-top: 17px

        .documents
            width: 30%
            .documents_header
                font-weight: 700
                font-size: 18px
                line-height: 22px
                letter-spacing: -0.02em
                padding-bottom: 3px
            .elements
                display: flex
                justify-content: space-between
                flex-wrap: wrap
            .element
                width: 100%
                font-family: 'Inter'
                font-style: normal
                font-weight: 500
                font-size: 15px
                line-height: 20px
                color: #B5B6B6
                padding-top: 17px
    .footer
        padding: 25px 0px
        display: flex
        justify-content: space-between
        .text
            font-family: 'Inter'
            font-weight: 300
            font-size: 14px
            line-height: 22px
            color: #B5B6B6
        .text, .soc_net
            margin: auto 0
        .soc_net
            display: flex
            column-gap: 35px
            img
                margin: auto 0
